NEXT_PUBLIC_PASSWORD_URL=

ADNSMS_URL=https://portal.adnsms.com/system/dashboard
ADNSMS_EMAIL=
ADNSMS_PASSWORD=
METLIFE_URL=https://master.adnsms.com/consumption/report
METLIFE_EMAIL=
METLIFE_PASSWORD=
ADNSMS_ENGLISH_1_SMS_COUNT=160
ADNSMS_ENGLISH_MORE_SMS_COUNT=150
ADNSMS_BANGLA_1_SMS_COUNT=70
ADNSMS_BANGLA_MORE_SMS_COUNT=65
