NEXT_PUBLIC_PASSWORD_URL=

ADNSMS_URL=
ADNSMS_EMAIL=
ADNSMS_PASSWORD=
METLIFE_URL=
METLIFE_EMAIL=
METLIFE_PASSWORD=
ADNSMS_ENGLISH_1_SMS_COUNT=160
ADNSMS_ENGLISH_MORE_SMS_COUNT=150
ADNSMS_BANGLA_1_SMS_COUNT=70
ADNSMS_BANGLA_MORE_SMS_COUNT=65

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_ADNSMS_API_URL=